.formContainer1{
    width: 100vw;
    height: 76vh;
    background-image:  url("https://images.unsplash.com/photo-1531403939386-c08a16cd7eef?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.formContainer2{
    width: 100vw;
    height: 76vh;
    background-image:  url("https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formContainer3{
    width: 100vw;
    height: 76vh;
    background-image:  url("https://cdn.pixabay.com/photo/2018/01/01/01/56/yoga-3053488_960_720.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.signup{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}

form{
    margin-top: 80px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#message{
    padding: 10px;
    margin: 30px;
    height: 150px;
    opacity: 0.7;
    border-radius: 10px;
}

#forgotten{
    text-align: right;
    font-size: 15px;
    padding-right: 50px;
    font-style: italic;
}

#forgotten a{
    color: black;
    opacity: 0.9;
}

.signupInput{
    align-items:  center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid rgb(44, 43, 43) ;
    margin : 20px;
    background: transparent;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    width: 400px;
    opacity: 0.8;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(44, 43, 43);
    opacity: 0.9; /* Firefox */
}

.formbutton{
    color: white;
    font-weight: bold;
    border: none;
    font-size: 25px;
    margin: 30px;
    align-items: center;
    padding: 10px;
    width: 400px;
    border-radius: 30px;
    background-color: rgb(34, 29, 29);
    opacity: 0.5;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.error{
    text-align: center;
    font-weight:bold;
    font-size: 20px;
    color: rgb(238, 22, 22);
    margin-bottom: 0px;
    margin-top: -40px;
}


@media only screen and (max-width: 600px) {
    body {

        background-position: 80%;
    }
}