/* ::::::::::::::::::::::::: C O N T E N T  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/** C O L O R S
    rgb(25, 21, 15);        Darkgray
    rgb(98, 76, 45);        Mustard
    rgb(170, 125, 57);      Darkyellow
    rgb(242, 166, 57);      Brightyellow
    rgb(255, 162, 22);      Yellow
**/

.section {
    min-height: 100vh;
    max-height: 100vh;
}

#welcome {
    background-color: rgb(170, 125, 57);
    display: flex;
    align-items: center;
}

#welcome p {
    margin-left: auto;
    margin-right: auto;
    font-size: 40vh;
    color: #fff;
    font-weight: 700;
}

#spaceforthevideo {
    display: flex;
    align-items: center;
    height: 720px;
}

#categories {
    align-items: center; 
    background-color: rgb(25, 21, 15);
    color: white;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 5vh 0;
}

div.categ {
    margin-left: auto;
    margin-right: auto;
}

.categ img,
.categ h1 {
    /* border: 1px solid white; */
    max-width: 80vw;
    text-align: center;
}
#homepagevideo {
    min-width: 100%;
    min-height: 100%;
  }

@media screen and (min-width: 768px) {
    #categories {
        min-height: 100vh;
        padding: 5vh 0;
    }

    .categ img,
    .categ h1 {
    border: 1px solid black;
    max-width: 30vw;
    text-align: center;}
}