/* ::::::::::::::::::::::::: C O N T E N T  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/** C O L O R S
    rgb(25, 21, 15);        Darkgray
    rgb(98, 76, 45);        Mustard
    rgb(170, 125, 57);      Darkyellow
    rgb(242, 166, 57);      Brightyellow
    rgb(255, 162, 22);      Yellow
**/

.section {
    min-height: 100vh;
    max-height: 100vh;
}

#welcome {
    background-color: rgb(170, 125, 57);
    display: flex;
    align-items: center;
}

#welcome p {
    margin-left: auto;
    margin-right: auto;
    font-size: 40vh;
    color: #fff;
    font-weight: 700;
}

#spaceforthevideo {
    display: flex;
    align-items: center;
    height: 720px;
}

#categories {
    align-items: center; 
    background-color: rgb(25, 21, 15);
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 5vh 0;
}

div.categ {
    margin-left: auto;
    margin-right: auto;
    min-width: 80vw;
    flex: 1;
}

.categ a img {    
    height: 10vh;
    text-align: center;
}

.categ a h1 {
    color: white;
}


@media screen and (min-width: 768px) {
    #categories {
        min-height: 100vh;
        padding: 5vh 0;
    }

    div.categ {
        max-width: 30vw;
    }

    .categ a img {    
        height: 40vh;
    }
}

#homepagevideo {
    min-width: 100%;
    min-height: 100%;
}

#scrollbutton {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 45%;
    height: 70px;
    width: 70px;
    z-index: 99;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgb(170, 125, 57);
    color: white;
    cursor: pointer;
    font-size: 25px;
}

#scrollbutton:hover {
    background-color: rgb(98, 76, 45);
}