* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(21, 25, 15, 1);
}

html {
    font-size: 62.5%;
}


/* Nav bar */


/*------------------------ */

iframe {
    height: 15rem;
    width: 25rem;
    margin: 2rem;
    overflow: hidden;
}

p {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}